## IntelliJ ##

# Directory-based project format
.idea/

# File-based project format
*.ipr
*.iws
*.iml

# Additional for IntelliJ
out/

## Java ##
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

## Gradle ##
.gradle
build/

## Splatter Instrumentation ##
splatter-instrumentation/android-platforms/
